<p id="notice"><%= notice %></p>




<div class="container">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-12">
          <h1><%= post.title %></h1>
          <h4><%= post.date %></h4>
        </div>
        <div class="col-md-12" id="blog-img">
          <%= image_tag(post.image_url, class: "img-responsive") %>
        </div>
        <div class="col-md-11" id="post-intro"> 

        <%= post.body %>
        </div>
        <div class="col-md-12">
          <%= link_to 'Show', post %>
        </div>
      </div>
    <% end %>
</div>


<br>

<%= link_to 'New Post', new_post_path %>
